<form action='/event' method='post'>
<%= form_for @event, :url => { :action => :create } do |f| %>

	<label>Event Name: <%= f.text_field :event_name %></label>
	<label>Event Date: <%= f.text_field :date %></label>
	<label>Event Location: <%= f.text_field :location %></label>
	<label>Event Time: <%= f.text_field :time %></label>
	<label>Person In Charge: <%= f.text_field :pInCharge %></label>

	<label>Image to Upload: </label>
	<%= submit_tag 'Create Event' %>
<% end %>
